body {
    font-family: 'Nunito', sans-serif;
    background: #000000;
}

#mainNavbar {
    font-size:1.5rem;
    font-weight:100;
}

#mainNavbar img {
    padding: 5px;
}

#mainNavbar .navbar-brand {
    color: #ffffff;
    text-shadow: 
        4px 3px 0px rgb(131, 101, 38),
        4px 3px 0px rgb(131, 101, 38);
    font-size:1.6rem;
   
}

#mainNavbar .nav-link {
    color:#ffffff;
    text-shadow: 
    4px 4px 0px rgba(131, 101, 38, 0.6);

}
#mainNavbar .nav-link:hover {
    color:#ffffff;

}

#headingGroup span {
    color: rgba(131, 101, 38, 0.6);
    text-shadow: none;
}

#headingGroup h1{
    font-weight: 100;
    font-size:3.5rem;
    text-shadow: 
    4px 6px 0px #a09999;
}


.blurb h2 {
    color: rgba(131, 101, 38, 0.6);
    font-weight: 100;
    font-size:2.5rem;
    margin: auto;
}

.blurb h3 {
    color: rgba(131, 101, 38, 0.6);
    font-weight: 100;
    font-size:1.5rem;
    margin: auto;
    padding: 10px;
}

.blurb p {
    color: #a09999;
    text-shadow: 
        4px 3px 3px rgba(131, 101, 38, 0.8);
    line-height: 1.75;
    text-transform: uppercase;
}

.blurb img {
    width: 60px;
    padding: 10px;
}

.blurb span {
    color: rgba(131, 101, 38, 0.8);
}

.content {
    margin-bottom: 50px;
    margin-bottom: 50px;
}

.navbar.scrolled {
    background: rgba(131, 101, 38, 0.6);
    transition: background-color 1s;
}


#mainNavbar .skull {
    width: 35px;
}

@media(max-width: 1200px) {
    #headingGroup h1{
        font-weight: 100;
        font-size:2.5rem;
        text-shadow: 
        4px 4px 0px #a09999;
    }}